---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


  header.site-header{
    background-color: lightblue;
  }
 
  .h-card{
    background-color: lightblue;
  }

  .page-content{
    color: rgb(104, 81, 61);
  }
